n8n-workflows/remeet-ai-chat.json
{
  "name": "ReMeet AI Chat",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/chat",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook - Chat API",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "remeet-chat"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "user_id",
              "name": "user_id",
              "value": "={{ $json.body.user_id }}",
              "type": "string"
            },
            {
              "id": "message",
              "name": "message",
              "value": "={{ $json.body.message }}",
              "type": "string"
            },
            {
              "id": "today",
              "name": "today",
              "value": "={{ $now.format('yyyy-MM-dd') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-input",
      "name": "Extract Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0,
          "maxTokens": 500
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "你是 ReMeet app 的 AI 助手，專門幫用戶查找他們的商務聯絡人。\n\n根據用戶的訊息，分析他們的意圖並輸出 JSON 格式：\n\n```json\n{\n  \"intent\": \"search_contact\" | \"list_recent\" | \"search_by_event\" | \"search_by_company\" | \"search_by_location\" | \"search_by_date\" | \"need_followup\" | \"general_question\",\n  \"search_params\": {\n    \"name\": \"姓名關鍵字（如有）\",\n    \"company\": \"公司名關鍵字（如有）\",\n    \"location\": \"地點關鍵字（如有）\",\n    \"event_name\": \"活動名稱（如有）\",\n    \"date_start\": \"YYYY-MM-DD（如有時間範圍）\",\n    \"date_end\": \"YYYY-MM-DD（如有時間範圍）\"\n  },\n  \"requires_db_query\": true,\n  \"user_language\": \"zh\" | \"en\"\n}\n```\n\n重要規則：\n1. 今天日期是 {{ $json.today }}\n2. 「上個月」= 上個月的第一天到最後一天\n3. 「最近」= 過去 30 天\n4. 「上週」= 過去 7 天\n5. 如果用戶用中文，設 user_language 為 \"zh\"；用英文則設為 \"en\"\n6. 只輸出 JSON，不要有其他文字"
            },
            {
              "role": "user",
              "content": "={{ $json.message }}"
            }
          ]
        }
      },
      "id": "openai-intent",
      "name": "OpenAI - Analyze Intent",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.5,
      "position": [680, 300],
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse intent from OpenAI response\nconst response = $input.first().json;\nlet intentData;\n\ntry {\n  // Extract JSON from response\n  let content = response.message?.content || response.choices?.[0]?.message?.content || '';\n  \n  // Remove markdown code blocks if present\n  content = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  \n  intentData = JSON.parse(content);\n} catch (e) {\n  // Default fallback\n  intentData = {\n    intent: 'search_contact',\n    search_params: {},\n    requires_db_query: true,\n    user_language: 'en'\n  };\n}\n\n// Get original input data\nconst originalInput = $('Extract Input').first().json;\n\nreturn [{\n  json: {\n    user_id: originalInput.user_id,\n    message: originalInput.message,\n    today: originalInput.today,\n    intent: intentData.intent,\n    search_params: intentData.search_params || {},\n    requires_db_query: intentData.requires_db_query !== false,\n    user_language: intentData.user_language || 'en'\n  }\n}];"
      },
      "id": "parse-intent",
      "name": "Parse Intent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH contact_data AS (\n  SELECT \n    c.id,\n    c.full_name,\n    c.title,\n    c.email,\n    c.phone,\n    c.is_favorite,\n    c.created_at,\n    co.name as company_name,\n    co.industry as company_industry\n  FROM contacts c\n  LEFT JOIN companies co ON c.company_id = co.id\n  WHERE c.user_id = '{{ $json.user_id }}'::uuid\n),\nmeeting_data AS (\n  SELECT \n    mc.contact_id,\n    mc.meeting_date,\n    mc.location_name,\n    mc.event_name,\n    mc.occasion_type,\n    mc.relationship_type,\n    mc.notes,\n    mc.follow_up_required,\n    mc.follow_up_date\n  FROM meeting_contexts mc\n  WHERE mc.user_id = '{{ $json.user_id }}'::uuid\n)\nSELECT \n  cd.*,\n  md.meeting_date,\n  md.location_name,\n  md.event_name,\n  md.occasion_type,\n  md.relationship_type,\n  md.notes as meeting_notes,\n  md.follow_up_required,\n  md.follow_up_date\nFROM contact_data cd\nLEFT JOIN meeting_data md ON cd.id = md.contact_id\nWHERE 1=1\n  {{ $json.search_params.name ? \"AND cd.full_name ILIKE '%\" + $json.search_params.name + \"%'\" : '' }}\n  {{ $json.search_params.company ? \"AND cd.company_name ILIKE '%\" + $json.search_params.company + \"%'\" : '' }}\n  {{ $json.search_params.location ? \"AND md.location_name ILIKE '%\" + $json.search_params.location + \"%'\" : '' }}\n  {{ $json.search_params.event_name ? \"AND md.event_name ILIKE '%\" + $json.search_params.event_name + \"%'\" : '' }}\n  {{ $json.search_params.date_start ? \"AND md.meeting_date >= '\" + $json.search_params.date_start + \"'\" : '' }}\n  {{ $json.search_params.date_end ? \"AND md.meeting_date <= '\" + $json.search_params.date_end + \"'\" : '' }}\n  {{ $json.intent === 'need_followup' ? \"AND md.follow_up_required = true\" : '' }}\nORDER BY \n  CASE WHEN md.meeting_date IS NOT NULL THEN md.meeting_date ELSE cd.created_at END DESC\nLIMIT 20;",
        "options": {}
      },
      "id": "supabase-query",
      "name": "Supabase - Query Contacts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1120, 300],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare data for response generation\nconst intentData = $('Parse Intent').first().json;\nconst queryResults = $input.all().map(item => item.json);\n\n// Deduplicate contacts (may have multiple meeting contexts)\nconst contactMap = new Map();\nfor (const row of queryResults) {\n  if (!row.id) continue;\n  \n  if (!contactMap.has(row.id)) {\n    contactMap.set(row.id, {\n      id: row.id,\n      full_name: row.full_name,\n      title: row.title,\n      email: row.email,\n      phone: row.phone,\n      company_name: row.company_name,\n      is_favorite: row.is_favorite,\n      meeting_contexts: []\n    });\n  }\n  \n  if (row.meeting_date || row.event_name || row.location_name) {\n    contactMap.get(row.id).meeting_contexts.push({\n      meeting_date: row.meeting_date,\n      location_name: row.location_name,\n      event_name: row.event_name,\n      occasion_type: row.occasion_type,\n      relationship_type: row.relationship_type,\n      notes: row.meeting_notes,\n      follow_up_required: row.follow_up_required,\n      follow_up_date: row.follow_up_date\n    });\n  }\n}\n\nconst contacts = Array.from(contactMap.values());\n\nreturn [{\n  json: {\n    user_id: intentData.user_id,\n    message: intentData.message,\n    intent: intentData.intent,\n    search_params: intentData.search_params,\n    user_language: intentData.user_language,\n    contacts: contacts,\n    contact_count: contacts.length\n  }\n}];"
      },
      "id": "prepare-response",
      "name": "Prepare Response Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0.7,
          "maxTokens": 300
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "你是 ReMeet 的 AI 助手。根據查詢結果，用自然語言回答用戶。\n\n規則：\n1. 簡潔友善，1-3 句話\n2. 如果找到聯絡人，簡述數量和關鍵資訊（如公司、見面地點）\n3. 如果沒找到，友善地建議其他搜尋方式\n4. 如果用戶語言是 \"zh\"，用繁體中文回覆；如果是 \"en\"，用英文回覆\n5. 不要列出所有聯絡人的詳細資料，只做摘要\n6. 如果有 meeting context，可以提及見面的時間或地點"
            },
            {
              "role": "user",
              "content": "用戶問題：{{ $json.message }}\n\n查詢意圖：{{ $json.intent }}\n搜尋條件：{{ JSON.stringify($json.search_params) }}\n用戶語言：{{ $json.user_language }}\n\n查詢結果：\n找到 {{ $json.contact_count }} 位聯絡人\n\n聯絡人資料：\n{{ JSON.stringify($json.contacts.slice(0, 5), null, 2) }}\n\n請根據以上資訊生成回覆。"
            }
          ]
        }
      },
      "id": "openai-response",
      "name": "OpenAI - Generate Response",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.5,
      "position": [1560, 300],
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build final API response\nconst preparedData = $('Prepare Response Data').first().json;\nconst aiResponse = $input.first().json;\n\n// Extract response text\nlet responseText = '';\ntry {\n  responseText = aiResponse.message?.content || aiResponse.choices?.[0]?.message?.content || 'I found some contacts for you.';\n} catch (e) {\n  responseText = 'I found some contacts for you.';\n}\n\n// Format contacts for iOS app\nconst formattedContacts = preparedData.contacts.map(c => ({\n  id: c.id,\n  full_name: c.full_name,\n  title: c.title,\n  email: c.email,\n  phone: c.phone,\n  company_name: c.company_name,\n  is_favorite: c.is_favorite,\n  meeting_context: c.meeting_contexts?.[0] ? {\n    date: c.meeting_contexts[0].meeting_date,\n    location: c.meeting_contexts[0].location_name,\n    event: c.meeting_contexts[0].event_name,\n    occasion_type: c.meeting_contexts[0].occasion_type,\n    relationship_type: c.meeting_contexts[0].relationship_type\n  } : null\n}));\n\n// Generate suggested actions based on intent\nlet suggestedActions = [];\nif (preparedData.contact_count === 0) {\n  suggestedActions = [\n    'Try searching by company name',\n    'Browse all contacts',\n    'Search by event or location'\n  ];\n} else {\n  suggestedActions = [\n    'View contact details',\n    'Search for more contacts'\n  ];\n}\n\nreturn [{\n  json: {\n    success: true,\n    response_text: responseText,\n    contacts: formattedContacts,\n    contact_count: preparedData.contact_count,\n    intent: preparedData.intent,\n    suggested_actions: suggestedActions\n  }\n}];"
      },
      "id": "build-response",
      "name": "Build API Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"{{ $json.error?.message || 'An error occurred' }}\",\n  \"response_text\": \"Sorry, something went wrong. Please try again.\",\n  \"contacts\": [],\n  \"suggested_actions\": [\"Try again\", \"Contact support\"]\n}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1560, 500]
    }
  ],
  "connections": {
    "Webhook - Chat API": {
      "main": [
        [
          {
            "node": "Extract Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Input": {
      "main": [
        [
          {
            "node": "OpenAI - Analyze Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Analyze Intent": {
      "main": [
        [
          {
            "node": "Parse Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Intent": {
      "main": [
        [
          {
            "node": "Supabase - Query Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Query Contacts": {
      "main": [
        [
          {
            "node": "Prepare Response Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Response Data": {
      "main": [
        [
          {
            "node": "OpenAI - Generate Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Generate Response": {
      "main": [
        [
          {
            "node": "Build API Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build API Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "ReMeet",
      "createdAt": "2026-01-13T00:00:00.000Z",
      "updatedAt": "2026-01-13T00:00:00.000Z"
    },
    {
      "name": "AI Chat",
      "createdAt": "2026-01-13T00:00:00.000Z",
      "updatedAt": "2026-01-13T00:00:00.000Z"
    }
  ],
  "pinData": {}
}
